body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #343a40;
}

#app {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #dee2e6;
}

h1 {
    text-align: center;
    color: #343a40;
}

#user-options, #image-upload, #text-display, #interrupt-operations {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 4px;
    border: 1px solid #dee2e6;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #495057;
}

select, textarea, input[type="file"], button {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}

button:hover {
    background-color: #0069d9;
}

textarea {
    resize: vertical;
    outline: none;
    box-shadow: inset 0 0 0 transparent;
}
